html {
  /* Nord Colors: https://www.nordtheme.com/docs/colors-and-palettes */
  --nord-polar-night-1: hsl(220, 16%, 22%);
  --nord-polar-night-2: hsl(222, 16%, 28%);
  --nord-polar-night-3: hsl(220, 17%, 32%);
  --nord-polar-night-4: hsl(220, 16%, 36%);

  --nord-snow-storm-1: hsl(219, 28%, 88%);
  --nord-snow-storm-2: hsl(218, 27%, 92%);
  --nord-snow-storm-3: hsl(218, 27%, 94%);

  --nord-frost-1: hsl(179, 25%, 65%);
  --nord-frost-2: hsl(193, 43%, 67%);
  --nord-frost-3: hsl(210, 34%, 63%);
  --nord-frost-4: hsl(213, 32%, 52%);

  --nord-aurora-red: hsl(354, 42%, 56%);
  --nord-aurora-orange: hsl(14, 51%, 63%);
  --nord-aurora-yellow: hsl(40, 71%, 73%);
  --nord-aurora-green: hsl(92, 28%, 65%);
  --nord-aurora-purple: hsl(311, 20%, 63%);

  font-size: 8px;
}

body {
  font-size: 2rem;
}
